run = "uvicorn app:app --host 0.0.0.0 --port 3000"
language = "python3"
modules = ["python-3.12", "nodejs-20", "web"]

[env]
PYTHONPATH = "."

[deployment]
build = ["sh", "-c", "pip install -r requirements-updated.txt"]
deploymentTarget = "static"
publicDir = "static/"

[nix]
channel = "stable-24_05"
packages = ["libxcrypt"]

[[ports]]
localPort = 3000
externalPort = 80
